<% include partials/header %> 
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval=false>
  <div class="carousel-inner">
    <div class="carousel-item active">
		<% include table/table1 %> 
    </div>
    <div class="carousel-item">
		<% include table/table2 %> 
    </div>
     <div class="carousel-item">
		<% include table/table3 %> 
    </div>
  </div>
  <!-- Carousel Buttons Next/Prev -->
	<a data-slide="prev" href="#carouselExampleFade" class="left carousel-control">Previous</a>
	<a data-slide="next" href="#carouselExampleFade" class="right carousel-control">Next</a>
</div>

<a href="/card">Card View</a><br>

<script>
var badminton_table = document.getElementById("badminton_table"); 
var futsal_table = document.getElementById("futsal_table");
var morning_timing = ["8am", "8.30am","9am","9.30am", "10am", "10.30am", "11am", "11.30am", "12pm", "12.30pm", "1pm", "1.30pm", "2pm", "2.30pm", "3pm", "3.30pm", "4pm", "4.30pm", "5pm" ]

var badminton_selected_row; 

<% bookings.forEach(function(booking){ %>
	var startTime = "<%= booking.startTime %>";
	var endTime = "<%= booking.endTime %>";
	var booking_status = "<%= booking.status %>";
	var indexNum_of_startTime = morning_timing.findIndex(function(timing){ return timing ==startTime})+1;
	var indexNum_of_endTime = morning_timing.findIndex(function(timing){ return timing ==endTime});
	
    for (i = 1; i <=16; i++) {
    	if(badminton_table.children[0].children[i].children[0].innerHTML=="<%= booking.courtNum %>"){
    		badminton_selected_row=badminton_table.children[0].children[i];
    		for (i=0; i<badminton_selected_row.children.length; i++){
    			if (indexNum_of_startTime != 0){
    				for(q=indexNum_of_startTime; q<=indexNum_of_endTime; q++){
    					if (booking_status==1){
                        	badminton_selected_row.children[q].style.backgroundColor = "green";
                        	badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'>_</a>";
                        	badminton_selected_row.children[q].style.color = "white";
    					}else if(booking_status==2){
    						badminton_selected_row.children[q].style.backgroundColor = "red"
    						badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'>_</a>";
    						badminton_selected_row.children[q].style.color = "white";
    					}else if(booking_status==3){
    						badminton_selected_row.children[q].style.backgroundColor = "blue";
    						badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'>_</a>";
    						badminton_selected_row.children[q].style.color = "white";
    					}
                    }	
    			}
    		}
		};
	}
<% }); %>
</script>


<% include partials/footer %> 