<% include partials/header %> 

<h2>Badminton Court</h2>
    <table id="badminton_table" border="1">
      <tr>
        <td></td>
        <td colspan="2">5pm</td>
        <td colspan="2">6pm</td>
        <td colspan="2">7pm</td>
        <td colspan="2">8pm</td>
        <td colspan="2">9pm</td>
        <td colspan="2">10pm</td>
        <td colspan="2">11pm</td>
        <td colspan="2">12am</td>
        <td colspan="2">1am</td>
        <td colspan="2">2am</td>
      </tr>
      <tr>
        <td>P1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P7</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>P8</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B7</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>B8</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
    </table>

    <br>
    <h2>Futsal Court</h2>
    <table border="1">
      <tr>
        <td></td>
        <td colspan="2">5pm</td>
        <td colspan="2">6pm</td>
        <td colspan="2">7pm</td>
        <td colspan="2">8pm</td>
        <td colspan="2">9pm</td>
        <td colspan="2">10pm</td>
        <td colspan="2">11pm</td>
        <td colspan="2">12am</td>
        <td colspan="2">1am</td>
        <td colspan="2">2am</td>
      </tr>
      <tr>
        <td>R1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>R2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>       
      </tr>
      <tr>
        <td>R3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
      <tr>
        <td>R4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    		<td></td>
    		<td></td>
      </tr>
    </table>
    <br>
  <a href="/booking">Morning Booking</a>
  
<script>
  var badminton_table = document.getElementById("badminton_table"); 
  var futsal_table = document.getElementById("futsal_table");
  var night_timing = ["5pm", "5.30pm", "6pm", "6.30pm", "7pm", "7.30pm", "8pm", "8.30pm", "9pm", "9.30pm", "10pm", "10.30pm", "11pm", "11.30pm", "12am", "12.30am", "1am", "1.30am", "2am", "2.30am", "3am"];
  
  var badminton_selected_row; 
  
  <% bookings.forEach(function(booking){ %>
  	var startTime = "<%= booking.startTime %>";
  	var endTime = "<%= booking.endTime %>";
  	var booking_status = "<%= booking.status %>";
  	var indexNum_of_startTime = night_timing.findIndex(function(timing){ return timing ==startTime})+1;
  	var indexNum_of_endTime = night_timing.findIndex(function(timing){ return timing ==endTime});
  	
      for (i = 1; i <=16; i++) {
      	if(badminton_table.children[0].children[i].children[0].innerHTML=="<%= booking.courtNum %>"){
      		badminton_selected_row=badminton_table.children[0].children[i];
      		for (i=0; i<badminton_selected_row.children.length; i++){
      			if (indexNum_of_startTime != 0){
      				for(q=indexNum_of_startTime; q<=indexNum_of_endTime; q++){
      					if (booking_status==1){
                          	badminton_selected_row.children[q].style.backgroundColor = "green";
                          	badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'><%= booking.name %></a>";
                          	badminton_selected_row.children[q].style.color = "white";
      					}else if(booking_status==2){
      						badminton_selected_row.children[q].style.backgroundColor = "red"
      						badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'><%= booking.name %></a>";
      						badminton_selected_row.children[q].style.color = "white";
      					}else if(booking_status==3){
      						badminton_selected_row.children[q].style.backgroundColor = "blue";
      						badminton_selected_row.children[q].innerHTML="<a href='/booking/<%= booking._id %>'><%= booking.name %></a>";
      						badminton_selected_row.children[q].style.color = "white";
      					}
                      }	
      			}
      		}
  		};
  	}
  <% }); %>
</script>

<% include partials/footer %> 