<% include partials/header %> 

<h4>Badminton</h4>
<table>
  <tr>
    <th></th>
    <th>Customer Name</th>
    <th>Court Number</th>
    <th>Start Time</th> 
    <th>End Time</th>
    <th>Duration(hour)</th>
    <th>Revenue</th>
  </tr>
  <% bookings.forEach(function(booking){ %>
    <tr bgcolor="#f7fdff">
      <td><%= booking.number %></td>
      <td><a href="/booking/<%= booking._id %>"><%= booking.name %></a></td> 
      <td><%= booking.courtNum.split(",")[0] %></td>
      <td><%= booking.startTime.split(",")[0] %></td>
      <td><%= booking.endTime.split(",")[0] %></td>
      <td>(developing)</td>
      <td>RM <%= booking.price %></td>
    </tr>
    <% for(var i=1; i<booking.courtNum.split(",").length;i++){ %>
      <% if(booking.courtNum.split(",").length>i){%>
      <tr>
        <td></td>
        <td></td> 
        <td><%= booking.courtNum.split(",")[i] %></td>
        <td><%= booking.startTime.split(",")[i] %></td>
        <td><%= booking.endTime.split(",")[i] %></td>
        <td>(developing)</td>
        <td></td>
      </tr>
      <% } %>
    <% } %>
    
  <% }); %>
  
</table>
<br>

<script type="text/javascript" src="/javascript/duration.js"></script>

<% include partials/footer %> 