<% include partials/header %> 

<div class="card-deck">
    <% bookings.forEach(function(booking){ %>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= booking.name %>'s Booking</h5>
              <p class="card-text">Contact Number: <%= booking.phNumber %></p>
              <p class="card-text">Booking Time: <%= booking.startTime %> to <%= booking.endTime %></p>
              <p class="card-text"><small class="text-muted">Status: <%= booking.status %></small></p>
            </div>
        </div>
    <% }); %>
  
</div>


<% include partials/footer %> 